[build-system]
requires = ["setuptools>=45", "setuptools_scm[toml]>=6.2"]
build-backend = 'setuptools.build_meta'

[tool.setuptools_scm]
write_to = "dissect/cobaltstrike/_version.py"

[tool.black]
line-length = 120
diff = true
check = true
color = true